<!-- {% extends "layouts/_layout.html" %} -->

{% block content %}

  {% include "partials/_header.html" %}

  <section class="banner banner--gray">
    <div class="container">
      <h1 class="banner__title title title--big">Установка webim</h1>
      <p class="banner__text text">
        Установка онлайн-консультанта Webim на ваш сайт не займет много времени.
        <br>
        Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать его в течение 7 дней бесплатно.
      </p>
      <a class="banner__button button button--green" href="#">Попробовать бесплатно</a>
      <a class="banner__button button" href="#">Тарифы</a>
    </div>
  </section>

  <section class="easy-setup">
    <div class="container">
      <h1 class="easy-setup__title title">Простая установка</h1>
      <p class="easy-setup__text text">
        Установка онлайн-консультанта Webim не займет более 15 минут
      </p>
      <ul class="easy-setup__items">
        <li class="easy-setup__item">
          <a class="easy-setup__link easy-setup__icon easy-setup__icon--notepad link" href="#">Регистрация</a>
        </li>
        <li class="easy-setup__item">
          <a class="easy-setup__link easy-setup__icon easy-setup__icon--window link" href="#">Установка HTML-кода</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="faq-section faq-section--gray">
    <div class="container">
      <h1 class="faq-section__title title">Установка html-кода</h1>
      <div class="faq-section__faq faq">
        <ul class="faq__list">
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка HTML-кода Webim для сайтов на Joomla</a>
            <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе <b>CMS Joomla</b>.</p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка HTML-кода Webim для сайтов на Wordrpess</a>
            <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе <b>Wordrpess</b>.</p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка HTML-кода Webim для сайтов на uCoz.ru</a>
            <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе <b>uCoz.ru</b>.</p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка HTML-кода Webim для сайтов на webasyst.ru</a>
            <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе <b>webasyst.ru</b>.</p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка HTML-кода Webim для любого сайта</a>
            <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах с другой CMS или написанных вручную.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="faq-section">
    <div class="container">
      <h1 class="faq-section__title title">
        Установка приложения
        <br>
        для операторов webim dashboard
      </h1>
      <p class="faq-section__text text">Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard</p>
      <div class="faq-section__faq faq">
        <ul class="faq__list">
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка приложения Webim Dashboard для iPhone</a>
            <p class="faq__desc">
              Документация по установке дополнительного программного обеспечения для операторов 
              <br>
              <b>сервиса Webim</b>, использующих iPhone/iPad/etc от компании Apple.
            </p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка приложения Webim Dashboard для Android</a>
            <p class="faq__desc">
              Документация по установке дополнительного программного обеспечения для операторов 
              <br>
              <b>сервиса Webim</b>, использующих платформу Google Android.
            </p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка приложения Webim Dashboard для Ubuntu</a>
            <p class="faq__desc">
              Документация по установке дополнительного программного обеспечения для операторов 
              <br>
              <b>сервиса Webim</b>, использующих платформу Ubuntu.
            </p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Установка приложения Webim Dashboard</a>
            <p class="faq__desc">
              Документация по установке дополнительного программного обеспечения для операторов 
              <br>
              <b>сервиса Webim</b> под ОС Microsoft Windows.
            </p>
          </li>
          <li class="faq__item">
            <a href="#" class="faq__title link">Создание приложения Webim для Mac OS </a>
            <p class="faq__desc">
              Пошаговая инструкция создания приложения для оператора Webim для Mac OS с помощью Fluid
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="finish-setup finish-setup--gray">
    <div class="container">
      <h1 class="finish-setup__title title">Что вас ждет после установки</h1>
      <p class="finish-setup__text text">Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет</p>
      <ul class="finish-setup__steps">
        <li class="finish-setup__step finish-setup__icon finish-setup__icon--add-user">Создание учетной записи компании и администратора</li>
        <li class="finish-setup__step finish-setup__icon finish-setup__icon--arrow">Активация учетной записи</li>
        <li class="finish-setup__step finish-setup__icon finish-setup__icon--cogs">Начальная настройка</li>
        <li class="finish-setup__step finish-setup__icon finish-setup__icon--webin"> Установка кнопки Webim на сайт</li>
        <li class="finish-setup__step finish-setup__icon finish-setup__icon--manager">Регистрация оператора</li>
        <li class="finish-setup__step finish-setup__icon finish-setup__icon--screen">Тест сервиса</li>
      </ul>
      <a class="finish-setup__button button button--green" href="#">Все возможности Webim</a>
      <a class="finish-setup__button button button--blue" href="#">Протестировать бесплатно</a>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <p class="contact__text text">Webim – это не только онлайн-консультант. Интегрируйте и другие каналы, чтобы клиенты могли обращаться к вам любым удобным способом</p>
      <div class="contact__links">
        <a class="contact__link contact__icon contact__icon--share link" href="#">Социальные сети</a>
        <a class="contact__link contact__icon contact__icon--arrow link" href="#">Форма обратной связи</a>
        <a class="contact__link contact__icon contact__icon--mobile link" href="#">Чат в вашем <br> мобильном приложении</a>
        <a class="contact__link contact__icon contact__icon--message link" href="#">Мессенджеры</a>
        <a class="contact__link contact__icon contact__icon--cube link" href="#">Яндекс.Диалоги</a>
        <a class="contact__link contact__icon contact__icon--mail link" href="#">Электронная почта</a>
        <a class="contact__link contact__icon contact__icon--bot link" href="#">Чат-боты</a>
      </div>
    </div>
  </section>

  {% include "partials/_footer.html" %}

{% endblock %}
