---
title: Index page
---
<!-- {% extends "layouts/_layout.html" %} -->

{% block content %}

	<!-- <h1>{{title}}</h1> -->

  {% include "partials/_header.html" %}
  <!-- // Header -->

  <section class="section section--banner section--gray">
    <div class="container">
      <h1 class="section__title">Установка webim</h1>
      <p class="section__text">
        Установка онлайн-консультанта Webim на ваш сайт не займет много времени.
        <br>
        Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать его в течение 7 дней бесплатно.
      </p>
      <div class="section__buttons">
        <a class="button button--green" href="#">Попробовать бесплатно</a>
        <a class="button" href="#">Тарифы</a>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="section__title">Простая установка</h1>
      <p class="section__text">
        Установка онлайн-консультанта Webim не займет более 15 минут
      </p>
      <ul class="items">
        <li class="item item--number">
          <a class="item__link item__icon item__icon--notepad" href="#">Регистрация</a>
        </li>
        <li class="item item--number">
          <a class="item__link item__icon item__icon--window" href="#">Установка HTML-кода</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section section--gray">
    <div class="container">
      <h1 class="section__title">Установка html-кода</h1>
      <ul class="faq faq__list">
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка HTML-кода Webim для сайтов на Joomla</a>
          <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе CMS Joomla.</p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка HTML-кода Webim для сайтов на Wordrpess</a>
          <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе Wordrpess.</p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка HTML-кода Webim для сайтов на uCoz.ru</a>
          <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе uCoz.ru.</p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка HTML-кода Webim для сайтов на webasyst.ru</a>
          <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах, построенных на базе webasyst.ru.</p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка HTML-кода Webim для любого сайта</a>
          <p class="faq__desc">Документация по внедрению сервиса Webim на сайтах с другой CMS или написанных вручную.</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="section__title">
        Установка приложения
        <br>
        для операторов webim dashboard
      </h1>
      <p class="section__text">Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard</p>
      <ul class="faq faq__list">
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка приложения Webim Dashboard для iPhone</a>
          <p class="faq__desc">
            Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих iPhone/iPad/etc от компании Apple.
          </p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка приложения Webim Dashboard для Android</a>
          <p class="faq__desc">
            Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих платформу Google Android.
          </p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка приложения Webim Dashboard для Ubuntu</a>
          <p class="faq__desc">
            Документация по установке дополнительного программного обеспечения для операторов 
            сервиса Webim, использующих платформу Ubuntu.
          </p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Установка приложения Webim Dashboard</a>
          <p class="faq__desc">
            Документация по установке дополнительного программного обеспечения для операторов сервиса Webim под ОС Microsoft Windows.
          </p>
        </li>
        <li class="faq__item">
          <a href="#" class="faq__title faq__link">Создание приложения Webim для Mac OS </a>
          <p class="faq__desc">
            Пошаговая инструкция создания приложения для оператора Webim для Mac OS с помощью Fluid
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="section section--gray">
    <div class="container">
      <h1 class="section__title">Что вас ждет после установки</h1>
      <p class="section__text">Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет</p>
      <ul class="steps">
        <li class="step step__icon step__icon--add-user">
          <span class="step__inner">
            <b class="step__title">Шаг 1.</b> Создание учетной записи компании и администратора</li>
          </span>
        <li class="step step__icon step__icon--arrow">
          <span class="step__inner">
            <b class="step__title">Шаг 2.</b> Активация учетной записи
          </span>
        </li>
        <li class="step step__icon step__icon--cogs">
          <span class="step__inner">
            <b class="step__title">Шаг 3.</b> Начальная настройка
          </span>
        </li>
        <li class="step step__icon step__icon--webin">
          <span class="step__inner">
            <b class="step__title">Шаг 4.</b> Установка кнопки Webim на сайт
          </span>
        </li>
        <li class="step step__icon step__icon--manager">
          <span class="step__inner">
            <b class="step__title">Шаг 5.</b> Регистрация оператора
          </span>
        </li>
        <li class="step step__icon step__icon--screen">
          <span class="step__inner">
            <b class="step__title">Шаг 6.</b> Тест сервиса
          </span>
        </li>
      </ul>
      <div class="section__buttons">
        <a class="button button--green" href="#">Все возможности Webim</a>
        <a class="button button--blue" href="#">Протестировать бесплатно</a>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <p class="section__text">Webim – это не только онлайн-консультант. Интегрируйте и другие каналы, чтобы клиенты могли обращаться к вам любым удобным способом</p>
      <div class="links">
        <a class="link link__icon link__icon--share" href="#">Социальные сети</a>
        <a class="link link__icon link__icon--arrow" href="#">Форма обратной связи</a>
        <a class="link link__icon link__icon--mobile" href="#">Чат в вашем мобильном приложении</a>
        <a class="link link__icon link__icon--message" href="#">Мессенджеры</a>
        <a class="link link__icon link__icon--cube" href="#">Яндекс.Диалоги</a>
        <a class="link link__icon link__icon--mail" href="#">Электронная почта</a>
        <a class="link link__icon link__icon--bot" href="#">Чат-боты</a>
      </div>
    </div>
  </section>

  {% include "partials/_footer.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}

		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}

{% endblock %}
