<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__col">
      <div class="logo">
        <img src="#" alt="Логотип Webin">
        <span class="logo__copyright">
          Webim 2008-2017
          <br>
          Все права защищены
        </span>
      </div>
    </div>
    <div class="footer__col">
      <div class="telephone">
        <a class="telephone__icon telephone__link telephone__link--big" href="#">+7 (800) 500-49-32</a>
      </div>
      <div class="telephone">
        <a class="telephone__icon telephone__link" href="#">+7 (499) 322-37-54</a>
        <span class="telephone__desc">Москва, Серебряническая набережная, 29</span>
      </div>
      <div class="telephone">
        <a class="telephone__icon telephone__link" href="#">+7 (812) 385-53-37</a>
        <span class="telephone__desc">Санкт-Петербург, Чкаловский проспект, 15</span>
      </div>
    </div>
    <div class="footer__col">
      <a class="link" href="mail:contact@webim.ru">contact@webim.ru</a>
      <a class="link" href="mail:sales@webim.ru">sales@webim.ru</a>
      <span class="footer__desc">понедельник - пятница с 10.00 - 18.00</span>
    </div>
    <div class="socials">
      <a class="social" href="#">
        <div class="social__icon"></div>
        <div class="social__visually-hidden">Vk</div>
      </a>
      <a class="social" href="#">
        <div class="social__icon"></div>
        <div class="social__visually-hidden">Fb</div>
      </a>
      <a class="social" href="#">
        <div class="social__icon"></div>
        <div class="social__visually-hidden">Tw</div>
      </a>
      <a class="social" href="#">
        <div class="social__icon"></div>
        <div class="social__visually-hidden">Skaype</div>
      </a>
    </div>
  </div>
</footer>
