<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__col footer__copyright">
      <a class="footer__logo logo logo__link" href="#">
        <img class="logo__img" src="img/logo-footer.png" alt="Логотип Webim">
      </a>
      <span class="copyright">
        Webim 2008-2017
        <br>
        Все права защищены
      </span>
    </div>
    <div class="footer__col footer__phone">
      <div class="phone">
        <a class="phone__link phone__link--big phone__icon link" href="#">+7 (800) 500-49-32</a>
      </div>
      <div class="phone">
        <a class="phone__link link" href="#">+7 (499) 322-37-54</a>
        <span class="phone__desc">Москва, Серебряническая набережная, 29</span>
      </div>
      <div class="phone">
        <a class="phone__link link" href="#">+7 (812) 385-53-37</a>
        <span class="phone__desc">Санкт-Петербург, Чкаловский проспект, 15</span>
      </div>
    </div>
    <div class="footer__col footer__info">
      <a class="footer__link link" href="mail:contact@webim.ru">contact@webim.ru</a>
      <br>
      <a class="footer__link link" href="mail:sales@webim.ru">sales@webim.ru</a>
      <span class="footer__week">понедельник - пятница с 10.00 - 18.00</span>
      <div class="socials">
        <a class="social social__icon social__icon--vk" href="#">
          <span class="visually-hidden">Vk</span>
        </a>
        <a class="social social__icon social__icon--fb" href="#">
          <span class="visually-hidden">Fb</span>
        </a>
        <a class="social social__icon social__icon--tw" href="#">
          <span class="visually-hidden">Tw</span>
        </a>
        <a class="social social__icon social__icon--skype" href="#">
          <span class="visually-hidden">Skype</span>
        </a>
      </div>
    </div>
  </div>
</footer>
