<header class="header header--fixed">
  <nav class="header__nav">
    <div class="header__menu menu">
      <button class="menu__button"></button> <!-- закрыть меню `menu__button--closed` -->
      <div class="menu__wrap menu__dropdown"> <!-- выпадающий список `menu__dropdown--active` -->
        <ul class="menu__list menu__user">
          <li class="menu__item">
            <a class="menu__link" href="#">Вход</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Регистрация</a>
          </li>
        </ul>
        <ul class="menu__list menu__main-menu">
          <li class="menu__item">
            <a class="menu__link" href="#">Возможности</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Тарифы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Партнёрам</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Помощь</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="header__logo logo logo__link" href="#">
      <img class="logo__img" src="img/logo-header.png" alt="Логотип Webim">
    </a>
  </nav>
</header>
