<header class="header">
  <nav class="header__nav">
    <div class="header__menu menu">
      <ul class="menu__list menu__user">
        <li class="menu__item">
          <a class="menu__link" href="#">Вход</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Регистрация</a>
        </li>
      </ul>
      <ul class="menu__list menu__main-menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Возможности</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Тарифы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Партнёрам</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Помощь</a>
        </li>
      </ul>
    </div>
    <a class="header__logo" href="#">
      <img src="" alt="Логотип Webim">
    </a>
  </nav>
</header>
